@model PackItUI.Areas.Plans.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Plans";

    var DataClass = "control-label";
}
<h2>@ViewData["Title"]</h2>
<table class="table">
    <caption>Plan Service Information</caption>
    <tr>
        <th scope="col"><label asp-for="Information.Version"></label></th>
        <th scope="col"><label asp-for="Information.About"></label></th>
    </tr>
    <tr>
        <td>@Model.Information.Version</td>
        <td>@Model.Information.About</td>
    </tr>
</table>
@if (Model.Items != null)
{
<table class="table">
    <caption>Plan Descriptions</caption>
    <thead>
        <tr>
            <th scope="col"><label asp-for="Items.FirstOrDefault().PlanId"></label></th>
            <th scope="col"><label asp-for="Items.FirstOrDefault().Name"></label></th>
            <th scope="col">
                <a role="button" class="btn btn-primary fa fa-plus" asp-action="Create" />
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td><span class="@DataClass">@item.PlanId</span></td>
            <td><span class="@DataClass">@item.Name</span></td>
            <td>
                <a role="button" class="btn btn-info fa fa-pencil-alt" asp-controller="Home" asp-action="Update" asp-route-id="@item.PlanId" />
                <a role="button" class="btn btn-danger fa fa-trash" asp-controller="Home" asp-action="Delete" asp-route-id="@item.PlanId" />
            </td>
        </tr>
        }
    </tbody>
</table>
}
