@model PackItUI.Areas.Packs.Models.PackEditViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "New Pack";
}
<h2>@ViewData["Title"]</h2>
<form asp-controller="Home" asp-action="Create" method="post">
    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs">
            <li class="active">
                <a class="nav-link" href="#pack" role="tab" data-toggle="tab">Pack</a>
            </li>
            <li>
                <a class="nav-link" href="#costings" role="tab" data-toggle="tab">Costings</a>
            </li>
        </ul>
        <div class="tab-content">
            <br />
            <div class="tab-pane active" id="pack">
                @Html.EditorFor(m => Model.Data, "PackPane", new { crud = PackItUI.Helpers.Crud.Create })
            </div>
            <div class="tab-pane" id="costings">
                <div class="form-group">
                    <table class="table">
                        <thead>
                            @Html.EditorFor(m => Model.Data.Costings, "CostingHeader")
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Data.Costings.Count; ++i)
                            {
                                @Html.EditorFor(m => Model.Data.Costings[i], "Costing", new { crud = PackItUI.Helpers.Crud.Create })
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <button type="button" onclick="addRow(this, '@Url.Action("CostingRow")')" class="btn btn-secondary">
                                        <i class=" fas fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <br />
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
