@model PackItUI.Areas.Packs.Models.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Packs";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Information.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information.About)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Information.Version)
        </td>
        <td>
            @Html.DisplayFor(model => model.Information.About)
        </td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model.Items.FirstOrDefault().PackId)
            </th>
            <th>
                @Html.LabelFor(model => model.Items.FirstOrDefault().Name)
            </th>
            <th>
                @Html.LabelFor(model => model.Items.FirstOrDefault().Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.PackId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Notes)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.PackId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PackId })
                </td>
            </tr>
        }
    </tbody>
</table>
