@model PackItUI.Areas.Materials.Models.MaterialEditViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Update Material";
}
<h2>@ViewData["Title"]</h2>
<form asp-controller="Home" asp-action="Update" method="post">
    <input asp-for="Data.ClosureType" hidden="hidden" />
    <input asp-for="Data.ClosureWeight" hidden="hidden" />
    <input asp-for="Data.StackStep" hidden="hidden" />
    <input asp-for="Data.Flap" hidden="hidden" />
    <input asp-for="Data.LoadCapacity" hidden="hidden" />
    <input asp-for="Data.BlankArea" hidden="hidden" />
    <input asp-for="Data.Density" hidden="hidden" />
    <input asp-for="Data.BoardStrength" hidden="hidden" />
    <input asp-for="Data.TargetCompression" hidden="hidden" />

    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs">
            <li class="active">
                <a class="nav-link" href="#material" role="tab" data-toggle="tab">Material</a>
            </li>
            <li>
                <a class="nav-link" href="#costings" role="tab" data-toggle="tab">Costings</a>
            </li>
            <li>
                <a class="nav-link" href="#sections" role="tab" data-toggle="tab">Sections</a>
            </li>
        </ul>
        <div class="tab-content">
            <br />
            <div class="tab-pane active" id="material">
                @Html.EditorFor(m => Model.Data, "MaterialPane", new { crud = PackItUI.Helpers.Crud.Update })
            </div>
            <div class="tab-pane" id="costings">
                <div class="form-group">
                    <table class="table">
                        <thead>
                            @Html.EditorFor(m => Model.Data.Costings, "CostingHeader")
                        </thead>
                        <tbody>
                            @for (int i = 0; i<Model.Data.Costings.Count; ++i)
                            {
                                @Html.EditorFor(m => Model.Data.Costings[i], "Costing", new { crud = PackItUI.Helpers.Crud.Update })
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <button type="button" onclick="addRow(this, '@Url.Action("CostingRow")')" class="btn btn-secondary fa fa-plus" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="sections">
                <div class="form-group">
                    <table class="table">
                        <thead>
                            @Html.EditorFor(m => Model.Data.Sections, "SectionHeader")
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Data.Sections.Count; ++i)
                            {
                                @Html.EditorFor(m => Model.Data.Sections[i], "Section", new { crud = PackItUI.Helpers.Crud.Update, sectionTypes = Model.SectionTypes[i] })
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="11">
                                    <button type="button" onclick="addRow(this, '@Url.Action("SectionRow")')" class="btn btn-secondary fa fa-plus" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
    <br />
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
