@model PackItUI.Areas.Plans.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Plans";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Information.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information.About)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayFor(model => model.Information.Version)
        </th>
        <th>
            @Html.DisplayFor(model => model.Information.About)
        </th>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("ID")
            </th>
            <th>
                @Html.Label("Name")
            </th>
            <th>
                @Html.Label("Notes")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.PlanId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Notes)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.PlanId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PlanId })
                </td>
            </tr>
        }
    </tbody>
</table>
