@model PackItUI.Areas.Materials.Models.MaterialViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Delete Material";

    var LabelClass = "control-label col-sm-1";
    var InputClass = "form-control";
    var VolumeFormat = "{0:N6}";
    var WeightFormat = "{0:N4}";
    var DimensionFormat = "{0:N2}";
    var CostFormat = "{0:N2}";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Home" asp-action="Delete" method="post">
    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#material" aria-controls="material" role="tab" data-toggle="tab">Material</a>
            </li>
            <li>
                <a href="#costings" aria-controls="costings" role="tab" data-toggle="tab">Costings</a>
            </li>
            <li>
                <a href="#sections" aria-controls="sections" role="tab" data-toggle="tab">Sections</a>
            </li>
        </ul>
        <div class="tab-content">
            <br />
            <div role="tabpanel" class="tab-pane form-horizontal active" id="material">
                <div class="form-group">
                    <label asp-for="Data.MaterialId" class="@LabelClass"></label>
                    <div class="col-sm-3">
                        <input asp-for="Data.MaterialId" class="@InputClass" disabled="disabled" />
                    </div>
                    <label asp-for="Data.Type" class="@LabelClass"></label>
                    <div class="col-sm-2">
                        <select asp-for="Data.Type" asp-items="Html.GetEnumSelectList<PackIt.Helpers.Enums.MaterialType>()" class="@InputClass" disabled="disabled"></select>
                    </div>
                    <label asp-for="Data.Form" class="@LabelClass"></label>
                    <div class="col-sm-2">
                        <select asp-for="Data.Form" asp-items="Html.GetEnumSelectList<PackIt.Helpers.Enums.FormType>()" class="@InputClass" disabled="disabled"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Name" class="@LabelClass"></label>
                    <div class="col-sm-9">
                        <input asp-for="Data.Name" class="@InputClass" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Notes" class="@LabelClass"></label>
                    <div class="col-sm-9">
                        <input asp-for="Data.Notes" class="@InputClass" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th><label class="@LabelClass">Length</label></th>
                                <th><label class="@LabelClass">Breadth</label></th>
                                <th><label class="@LabelClass">Height</label></th>
                                <th><label class="@LabelClass">Volume</label></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><label class="@LabelClass">Internal</label></th>
                                <td>
                                    <input asp-for="Data.InternalLength" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.InternalBreadth" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.InternalHeight" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.InternalVolume" asp-format="@VolumeFormat" class="@InputClass" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <th><label class="@LabelClass">External</label></th>
                                <td>
                                    <input asp-for="Data.ExternalLength" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.ExternalBreadth" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.ExternalHeight" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.ExternalVolume" asp-format="@VolumeFormat" class="@InputClass" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <th><label class="@LabelClass">Cell</label></th>
                                <td>
                                    <input asp-for="Data.CellLength" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.CellBreadth" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.CellHeight" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <th><label class="@LabelClass">Center Of Gravity</label></th>
                                <td>
                                    <input asp-for="Data.CentreOfGravityX" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.CentreOfGravityY" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.CentreOfGravityZ" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label asp-for="Data.NettWeight" class="@LabelClass"></label>
                    <div class="col-sm-4">
                        <input asp-for="Data.NettWeight" asp-format="@WeightFormat" class="@InputClass" disabled="disabled" />
                    </div>
                    <label asp-for="Data.GrossWeight" class="@LabelClass"></label>
                    <div class="col-sm-4">
                        <input asp-for="Data.GrossWeight" asp-format="@WeightFormat" class="@InputClass" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Caliper" class="@LabelClass"></label>
                    <div class="col-sm-4">
                        <input asp-for="Data.Caliper" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane form-horizontal" id="costings">
                <div class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><label asp-for="Data.Costings.FirstOrDefault().Quantity" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Costings.FirstOrDefault().QuantityCost" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Costings.FirstOrDefault().VolumeCost" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Costings.FirstOrDefault().AreaCost" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Costings.FirstOrDefault().LengthCost" class="@LabelClass"></label></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Data.Costings.Count; ++i)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="Data.Costings[i].Quantity" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Costings[i].QuantityCost" asp-format="@CostFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Costings[i].VolumeCost" asp-format="@CostFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Costings[i].AreaCost" asp-format="@CostFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Costings[i].LengthCost" asp-format="@CostFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane form-horizontal" id="sections">
                <div class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><label asp-for="Data.Sections.FirstOrDefault().SectionType" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Shape" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Height" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Dimension0" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Dimension1" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Dimension2" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Dimension3" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Dimension4" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Dimension5" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Dimension6" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Dimension7" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Dimension8" class="@LabelClass"></label></th>
                                <th><label asp-for="Data.Sections.FirstOrDefault().Dimension9" class="@LabelClass"></label></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Data.Sections.Count; ++i)
                            {
                                <tr>
                                    <td></td>
                                    <td>
                                        <select asp-for="Data.Sections[i].Shape" asp-items="Html.GetEnumSelectList<PackIt.Helpers.Enums.ShapeType>()" class="@InputClass" disabled="disabled"></select>
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Height" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Dimension0" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Dimension1" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Dimension2" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Dimension3" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Dimension4" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Dimension5" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Dimension6" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Dimension7" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Dimension8" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input asp-for="Data.Sections[i].Dimension9" asp-format="@DimensionFormat" class="@InputClass" disabled="disabled" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>
    <br />
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
