@model PackItUI.Areas.Materials.Models.MaterialViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Delete Material";

    var LabelClass = "control-label col-sm-1";
    var InputClass = "form-control";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Home" asp-action="Delete" method="post">
    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#material" aria-controls="material" role="tab" data-toggle="tab">Material</a>
            </li>
        </ul>
        <div class="tab-content">
            <br />
            <div role="tabpanel" class="tab-pane form-horizontal active" id="material">
                <div class="form-group">
                    <label asp-for="Data.MaterialId" class="@LabelClass"></label>
                    <div class="col-sm-4">
                        <input asp-for="Data.MaterialId" class="@InputClass" disabled="disabled" />
                    </div>
                    <label asp-for="Data.Type" class="@LabelClass"></label>
                    <div class="col-sm-4">
                        <select asp-for="Data.Type" asp-items="Html.GetEnumSelectList<PackIt.Helpers.Enums.MaterialType>()" class="@InputClass" disabled="disabled"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Name" class="@LabelClass"></label>
                    <div class="col-sm-9">
                        <input asp-for="Data.Name" class="@InputClass" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Notes" class="@LabelClass"></label>
                    <div class="col-sm-9">
                        <input asp-for="Data.Notes" class="@InputClass" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th><label class="@LabelClass">Length</label></th>
                                <th><label class="@LabelClass">Breadth</label></th>
                                <th><label class="@LabelClass">Height</label></th>
                                <th><label class="@LabelClass">Volume</label></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><label class="@LabelClass">Internal</label></th>
                                <td>
                                    <input asp-for="Data.InternalLength" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.InternalBreadth" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.InternalHeight" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.InternalVolume" class="@InputClass" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <th><label class="@LabelClass">External</label></th>
                                <td>
                                    <input asp-for="Data.ExternalLength" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.ExternalBreadth" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.ExternalHeight" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.ExternalVolume" class="@InputClass" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <th><label class="@LabelClass">Cell</label></th>
                                <td>
                                    <input asp-for="Data.CellLength" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.CellBreadth" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.CellHeight" class="@InputClass" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <th><label class="@LabelClass">Center Of Gravity</label></th>
                                <td>
                                    <input asp-for="Data.CentreOfGravityX" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.CentreOfGravityY" class="@InputClass" disabled="disabled" />
                                </td>
                                <td>
                                    <input asp-for="Data.CentreOfGravityZ" class="@InputClass" disabled="disabled" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label asp-for="Data.NettWeight" class="@LabelClass"></label>
                    <div class="col-sm-4">
                        <input asp-for="Data.NettWeight" class="@InputClass" disabled="disabled" />
                    </div>
                    <label asp-for="Data.GrossWeight" class="@LabelClass"></label>
                    <div class="col-sm-4">
                        <input asp-for="Data.GrossWeight" class="@InputClass" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Caliper" class="@LabelClass"></label>
                    <div class="col-sm-4">
                        <input asp-for="Data.Caliper" class="@InputClass" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>
    <br />
</form>
