@model PackItUI.Areas.Materials.Models.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Materials";

    var LabelClass = "control-label";
    var DataClass = "control-label";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th><label asp-for="Information.Version" class="@LabelClass"></label></th>
        <th><label asp-for="Information.About" class="@LabelClass"></label></th>
    </tr>
    <tr>
        <td><span class="@DataClass">@Model.Information.Version</span></td>
        <td><span class="@DataClass">@Model.Information.About</span></td>
    </tr>
</table>

@if (Model.Items != null)
{
<table class="table">
    <thead>
        <tr>
            <th><label asp-for="Items.FirstOrDefault().MaterialId" class="@LabelClass"></label></th>
            <th><label asp-for="Items.FirstOrDefault().Name" class="@LabelClass"></label></th>
            <th><label asp-for="Items.FirstOrDefault().Notes" class="@LabelClass"></label></th>
            <th>
                <a id="create" data-toggle="modal" asp-action="Create" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>  
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td><span class="@DataClass">@item.MaterialId</span></td>
                <td><span class="@DataClass">@item.Name</span></td>
                <td><span class="@DataClass">@item.Notes</span></td>
                <td>
                    <a id="update" data-toggle="modal" asp-action="Update" asp-route-id="@item.MaterialId" class="btn btn-info">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a id="delete" data-toggle="modal" asp-action="Delete" asp-route-id="@item.MaterialId" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>  
                </td>
            </tr>
        }
    </tbody>
</table>
}
