@model PackItUI.Areas.Materials.Models.MaterialUpdateViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Update Material";
}
<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.Data.Colour)
    @Html.HiddenFor(m => Model.Data.Colour)
    @Html.HiddenFor(m => Model.Data.Drawing)
    @Html.HiddenFor(m => Model.Data.BarCode)
    @Html.HiddenFor(m => Model.Data.ComputerCode)
    @Html.HiddenFor(m => Model.Data.Finish)
    @Html.HiddenFor(m => Model.Data.Print)
    @Html.HiddenFor(m => Model.Data.PrintType)
    @Html.HiddenFor(m => Model.Data.Form)
    @Html.HiddenFor(m => Model.Data.ClosureType)
    @Html.HiddenFor(m => Model.Data.ClosureWeight)
    @Html.HiddenFor(m => Model.Data.StackStep)
    @Html.HiddenFor(m => Model.Data.Flap)
    @Html.HiddenFor(m => Model.Data.InternalLength)
    @Html.HiddenFor(m => Model.Data.InternalBreadth)
    @Html.HiddenFor(m => Model.Data.InternalHeight)
    @Html.HiddenFor(m => Model.Data.InternalVolume)
    @Html.HiddenFor(m => Model.Data.NettWeight)
    @Html.HiddenFor(m => Model.Data.ExternalLength)
    @Html.HiddenFor(m => Model.Data.ExternalBreadth)
    @Html.HiddenFor(m => Model.Data.ExternalHeight)
    @Html.HiddenFor(m => Model.Data.ExternalVolume)
    @Html.HiddenFor(m => Model.Data.GrossWeight)
    @Html.HiddenFor(m => Model.Data.LoadCapacity)
    @Html.HiddenFor(m => Model.Data.CentreOfGravityX)
    @Html.HiddenFor(m => Model.Data.CentreOfGravityY)
    @Html.HiddenFor(m => Model.Data.CentreOfGravityZ)
    @Html.HiddenFor(m => Model.Data.Caliper)
    @Html.HiddenFor(m => Model.Data.CellLength)
    @Html.HiddenFor(m => Model.Data.CellBreadth)
    @Html.HiddenFor(m => Model.Data.CellHeight)
    @Html.HiddenFor(m => Model.Data.BlankArea)
    @Html.HiddenFor(m => Model.Data.BodyTolerance)
    @Html.HiddenFor(m => Model.Data.HeightTolerance)
    @Html.HiddenFor(m => Model.Data.Density)
    @Html.HiddenFor(m => Model.Data.ShoulderToTop)
    @Html.HiddenFor(m => Model.Data.FinishX)
    @Html.HiddenFor(m => Model.Data.FinishY)
    @Html.HiddenFor(m => Model.Data.BoardStrength)
    @Html.HiddenFor(m => Model.Data.TargetCompression)
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="Data.MaterialId"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Data.MaterialId" disabled="disabled" />
                <span asp-validation-for="Data.MaterialId"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="Data.Type"></label>
            <div class="col-sm-10">
                <select class="form-control" asp-for="Data.Type" asp-items="Html.GetEnumSelectList<PackIt.Helpers.Enums.MaterialType>()">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="Data.Name"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Data.Name" />
                <span asp-validation-for="Data.Name"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="Data.Notes"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Data.Notes" />
                <span asp-validation-for="Data.Notes"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}
